input[type="radio"]:focus-visible {
    outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: var(--focus-color);
  }

.file-selector {
    display: flex;
    align-items: center;
    gap: 12px;
}

.file-selector label:has(:focus-visible) {
  @include focus;
}

    input[type="text"], input[type="number"] {
        border: solid 2px #091e4224;
        border-radius: 3px;
        padding: 8px;
        height: 32px;
    }

