.radio {
  display: flex;
  gap: 6px;
  width: fit-content;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  &:has(:focus-visible) {
    outline: solid 2px var(--focus-color);
    outline-offset: 1px;
  }

  input {
    accent-color: var(--blue);
    pointer-events: none;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
  }
}

.radio-group {
  display: flex;
  gap: 24px;
}